.container {
    background-color: lightgray;
    background-image: url('../images/Vector 30.png');
    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
    display: flex;
    height:1039px;
}

.left {
    background-image: url('../images/Group 5.png');
    background-repeat: no-repeat;
    background-position: top 0% right 0%;
    height: 838px;
    width: 483px;
    background-color: white;
    border-radius: 60px;
    border-right: 1000px;
    margin-left: 500px;
    margin-top: 100px; 
}

.left1 {
    margin-top: 200px;
    margin-left: 50px;
}

.container input {
    background-color: transparent;    
    font-size: 20px;
    border: 0px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    width: 397px;
}

.container input[type=Pass] {
    margin-bottom: -100px;
}

.left1 h1{
    font-size: 40px;
}

.left1 h5 {
    font-size: 20px;
    color: gray;
    margin-top: -30px;
}

.prior Button {
    width: 204px;
    height: 59px;
    border-radius: 25px;
    background-color: #F9BA50;
    color: white;
    font-size: 24px;
    margin-left: 200px;
    margin-top: 30px;
    align-items: center;
    display: flex;
}

.prior h2 {
    font-size: 24px;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
}

.but Button {
    font-size: 20px;
    color: black;
    text-decoration: underline;
    width: 200px;
    margin-bottom: -100px;
    margin-top: 5px;
    margin-left: -20px;
}


.last {
    display: flex;
    align-items: center;
}

.last p {
    font-size: 20px;
    color: gray;
    margin-top: 130px;
    margin-left: 40px;
}

.last Button {
    color: #F9B64D;
    font-size: 20px;
    margin-top: 110px;
    text-decoration: underline;
    margin-left: -30px;
}