.container {
    background-color: lightgray;
    background-image: url('../images/Vector 30.png');
    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
    display: flex;
    height:1039px;
}

.left {
    background-image: url('../images/Group 5.png');
    background-repeat: no-repeat;
    background-position: top 0% right 0%;
    height: 838px;
    width: 1136px;
    background-color: white;
    border-radius: 60px;
    border-right: 1000px;
    margin-left: 200px;
    margin-top: 100px; 
}

.left1 {
    margin-top: 200px;
    margin-left: 50px;
}

.left1 h1{
    font-size: 40px;
    margin-top: -100px;
}

.left1 h5 {
    font-size: 20px;
    color: gray;
    margin-top: -30px;
}

.but Button {
    font-size: 32px;
    color: gray;
    text-decoration: underline;
    width: 200px;
    margin-bottom: -100px;
    margin-top: 5px;
    margin-left: -20px;
}

.inside {
    height: 100px;
    background-color: #D9D9D9;
    width: 989px;
    height: 501px;
    margin-top: 50px;
}

.scroll {
    overflow-y: scroll;
    height: 501px;
    max-height: 1000px;
}